@{ 
    Layout = null;
}
@model IMACH_MK_I.Models.Users
<p class="centered"><a href="~/Admin/Profile"><img src="~/Content_Panel/img/user.jpg" class="img-circle" width="80"></a></p>
<h5 class="centered">@Model.Name @Model.Surname</h5>

