@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Birlik OSB Batı Cad.<br />
    No:12 Tuzla İstanbul<br />
    <abbr title="Phone">P:</abbr>
    +90 216 622 32 81
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@aymakmakine.com">info@aymakmakine.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@aymakmakine.com">info@aymakmakine.com</a>
</address>