@{
    ViewBag.Title = "Ana Sayfa";
}



<!-- =======  ======= -->
<section id="products" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>PRODUCTS</h2>
            <p>With strict control over all machines and lines.It has produced from the very establishment of the company throughout all phases from design to operation, our company constantly enhance and improve customer satisfaction with respect to timely delivery and service, making the trademark  IMACH® a shining star.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-stranding">Stranding</li>
                    <li data-filter=".filter-isolating">Isolating</li>
                    <li data-filter=".filter-capstans">Haul-Off</li>
                    <li data-filter=".filter-coiling">Coiling</li>
                    <li data-filter=".filter-winding">Unwinding & Winding</li>
                    <li data-filter=".filter-armouring">Armouring & Taping</li>
                    <li data-filter=".filter-others">Other Tools</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-stranding">
                <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Double Twist Buncher</h4>
                    <p>Stranding</p>
                    <a href="/assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-stranding">
                <img src="/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Rigid Strander</h4>
                    <p>Stranding</p>
                    <a href="/assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-stranding">
                <img src="/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Planetary Strander</h4>
                    <p>Stranding</p>
                    <a href="/assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-stranding">
                <img src="/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Drum Twister</h4>
                    <p>Stranding</p>
                    <a href="/assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-isolating">
                <img src="/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Extruder</h4>
                    <p>Isolating</p>
                    <a href="/assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-capstans">
                <img src="/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Caterpillar</h4>
                    <p>Haul-Off</p>
                    <a href="/assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-coiling">
                <img src="/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Full Automatic Coiling Line</h4>
                    <p>Coiling</p>
                    <a href="/assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-armouring">
                <img src="/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Tangential Taping</h4>
                    <p>Armouring & Taping</p>
                    <a href="/assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-winding">
                <img src="/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Portal Take Up</h4>
                    <p>Winding & Unwinding</p>
                    <a href="/assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

        </div>

    </div>
</section><!-- -->
<!-- ======= ======= -->
<section id="counts" class="counts section-bg">
    <div class="container">

        <div class="row counters">


            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">17</span>
                <p>Years</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">29</span>
                <p>Countries</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">98</span>
                <p>Customers</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">922</span>
                <p>Machines</p>
            </div>




        </div>

    </div>
</section><!--  -->
<!-- =======  ======= -->
<section id="turnKeyFactories" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Anahtar Teslimi Fabrikalar & Üretim Hatları</h2>
            <p>Aymak Makine tüm Dünya'da Anahrtar teslim fabrikalar kurma yetisine sahiptir. </p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <i class="bx bx-arch"></i>
                    </div>
                    <h4><a href="">Makedonya</a></h4>
                    <p>Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                    <div class="icon">
                        <i class="bx bx-arch"></i>
                    </div>
                    <h4><a href="">Ürdün</a></h4>
                    <p>Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-pink">
                    <div class="icon">
                        <i class="bx bx-arch"></i>
                    </div>
                    <h4><a href="">Etiopya</a></h4>
                    <p>Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-yellow">
                    <div class="icon">
                        <i class="bx bx-arch"></i>
                    </div>
                    <h4><a href="">Umman</a></h4>
                    <p>Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-red">
                    <div class="icon">
                        <i class="bx bx-arch"></i>
                    </div>
                    <h4><a href="">Amerika</a></h4>
                    <p>Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-teal">
                    <div class="icon">
                        <i class="bx bx-arch"></i>
                    </div>
                    <h4><a href="">Rusya</a></h4>
                    <p>Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu Anahtar Teslimi Fabrika ve Üretim Hattı Kurulumu</p>
                </div>
            </div>

        </div>

    </div>
</section><!--  -->
<!-- ======= -->
<section id="cta" class="cta">
    <div class="container">

        <div class="text-center">
            <h3>Teklif isteyin</h3>
            <p> Ürün paketlerimiz için teklif isteği oluşturabilirsiniz</p>
            <a class="cta-btn" href="#">Hadi Yapalım</a>
        </div>

    </div>
</section><!-- -->
<!-- =======  ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Takım</h2>
            <p>Sizinle Tanışmaktan Mutluluk Duyarız</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Yaşa YILMAZ</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Halis ÖZTÜRK</h4>
                        <span>Chief Technology Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Kadir AKYIL</h4>
                        <span>Chief Administrative Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Murat ACAR</h4>
                        <span>Foreign Trade Chief</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!--  -->
<!-- =======  ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3>
                    Biz Kimiz
                </h3>
                <p>

                    Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızd kımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda Hakkımızda 

                    <br />
                    Memnuniyetiniz, sermayemizdir.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <i class="bx bx-receipt"></i>
                        <h4>
                            Sertifikalar
                        </h4>
                        <p>ISO 9001:2015, CE, EAC </p>
                    </div>
                    <div class="col-md-6">
                        <i class="bx bx-analyse"></i>
                        <h4>
                            Kalite Politikası
                        </h4>
                        <p>Kalitemiz işimize olan sevgimizin yansımasıdır. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!--  -->
<!-- =======  ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>İletişim</h2>
            <p>Çekinmeyin, Sorun vs vsvs vsvs ssviasdkgasdgaşg ongaofgşkadjg apgfgfb afhb aoıgu adug bpabgp</p>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Adresimiz</h3>
                            <p>Birlik OSB Batı Cad No 12 Tuzla - İstanbul / Türkiye</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Bize Yazın</h3>
                            <p>info@aymakmakine.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>Bizi Arayın</h3>
                            <p>+90 216 622 32 81</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section>