@{
    ViewBag.Title = "Ana Sayfa";
}

<main id="main">
    <!-- ======= ProductGroups Section ======= -->
    <section id="productGroup" class="productGroup">
        <div class="container-fluid">

            <div class="section-title">
                <h2>ÜRÜNLERİMİZ</h2>
                <p>Üstün kaliteli, Uzun ömürlü kablo üretim makineleri</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row justify-content-center">


                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/1.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalExstrusion">
                            </div>
                            <div class="text-center">
                                <a>Ekstrüzyon</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/2.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalBuncher">
                            </div>
                            <div class="text-center">
                                <a>Demetleme</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/3.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalStrander">
                            </div>
                            <div class="text-center">
                                <a>Büküm</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/4.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalArmouring">
                            </div>
                            <div class="text-center">
                                <a>Zırhlama</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/5.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalHaulOff">
                            </div>
                            <div class="text-center">
                                <a>Çekiciler</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/6.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalRewinding">
                            </div>
                            <div class="text-center">
                                <a>Aktarma</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/7.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalTaping">
                            </div>
                            <div class="text-center">
                                <a>Bantlama</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/8.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalWinUnwin">
                            </div>
                            <div class="text-center">
                                <a>Sarıcı Boşaltıcı</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/9.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalCoiling">
                            </div>
                            <div class="text-center">
                                <a>Kangallama</a>
                            </div>
                        </div> <!-- End Product -->
                        <div>
                            <div>
                                <img src="~/assets/img/productGroup/10.png" class="img-fluid group-icon btn-outline-info" alt="" data-toggle="modal" href="#modalOthers">
                            </div>
                            <div class="text-center">
                                <a>Diğer</a>
                            </div>
                        </div> <!-- End Product -->


                    </div>
                </div>
            </div>

        </div>
    </section><!-- End ProductGroups Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container-fluid">

            <div class="section-title">
                <h2>Avantajlarımız</h2>
                <p>Tecrübe ile tasarlanmış, son kullanıcı odaklı kablo üretim çözümleri</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a data-toggle="modal" href="#modalK">Hızlı Teklif Üretme</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>

                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Kapasite Hesabı</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Yatırım Amortisman Hesabı</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Üretim Tesisi Tasarımı</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Fark Yaratan Satış Sonrası Hizmetler</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Dünya Çapında Rakipsiz Garanti Süreci</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Güçlü Finansal Yapı</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Ürüne Özel Tasarım Kabiliyeti</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 icon-box">
                            <div class="icon"><i class="bx bx-check-double"></i></div>
                            <h4 class="title"><a href="">Gerçekçi Ekipman Planlaması</a></h4>
                            <p class="description">Aymak Makine üretim Hatları otomotiv sektörüne kablo üreten profesyonellerin ilk tercihi olmaya devam ediyor.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container-fluid">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">17</span>
                    <p>Yıl</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">29</span>
                    <p>Ülke</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">130</span>
                    <p>Müşteri</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">929</span>
                    <p>Makine</p>
                </div>



            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row justify-content-center">
                @*<iframe width="420" height="315" align="middle"
                            src="https://www.youtube.com/embed/MThDcad06Tk?autoplay=1">
                    </iframe>*@
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                    <a href="https://youtu.be/MThDcad06Tk" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>Biz Kimiz?</h3>
                    <p>Kablo üretim fazlarında 30 yılı aşkın zamandır tecrübe sahibi uzmanların kurduğu bir mühendislik firmasıdır. </p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-history"></i></div>
                        <h4 class="title"><a href="">Tarihçe <i class="bx bxs-key"></i></a></h4>
                        <p class="description">Aymak Makine Ltd. kablo imalat sektörüne makineler üreten, Türkiye'nin en büyük kablo makinesi üreticilerinden biridir...</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-pyramid"></i></div>
                        <h4 class="title"><a href="">Kalite Politikası</a></h4>
                        <p class="description">Müşteri memnuyeti esastır.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-certification"></i></div>
                        <h4 class="title"><a href="">Sertfikalar</a></h4>
                        <p class="description">ISO 9001:2015, CE, EAC</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center">
                <h3>YouTube kanalımızı ziyaret edin</h3>
                <p> Makinelerimizi iş başında görün.</p>
                <a class="cta-btn" href="https://www.youtube.com/playlist?list=PLWunJE-SOEq4E0JBJsVyfUVF5HfAt1Nb0" target="_blank">Gidelim</a>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container-fluid">

            <div class="section-title">
                <h2>Bizden Kısa Kısa</h2>
                <p>Takımımızın size söyleyecekleri var</p>
            </div>

            <div class="row">
                <div class="col-xl-10">
                    <div class="row d-flex justify-content-center">

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="member">
                                <img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Yaşa YILMAZ</h4>
                                        <span>CEO</span>
                                    </div>
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Member Item -->

                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                            <div class="member">
                                <img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Halis ÖZTÜRK</h4>
                                        <span>Teknoloji Yöneticisi</span>
                                    </div>
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Member Item -->

                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                            <div class="member">
                                <img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Kadir AKYIL</h4>
                                        <span>Yönetim Temsilcisi</span>
                                    </div>
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Member Item -->

                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                            <div class="member">
                                <img src="~/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Murat ACAR</h4>
                                        <span>Dış Ticaret Yöneticisi</span>
                                    </div>
                                    <div class="social">
                                        <a href=""><i class="icofont-twitter"></i></a>
                                        <a href=""><i class="icofont-facebook"></i></a>
                                        <a href=""><i class="icofont-instagram"></i></a>
                                        <a href=""><i class="icofont-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Member Item -->

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container-fluid">

            <div class="section-title">
                <h2>İLETİŞİM</h2>
                <h3>Bize Ulaşın </h3>
                <p>Sizinle Tanışmak İçin Sabırsızlanıyoruz</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">

                        <div class="col-lg-6">

                            <div class="row justify-content-center">

                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-map"></i>
                                    <h4>Adres</h4>
                                    <p>Aydınlı Mah. Birlik OSB,<br>Batı Cad No:12,<br>Tuzla İstanbul</p>
                                </div>
                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-phone"></i>
                                    <h4>Bizi Arayın</h4>
                                    <p>+90 216 622 32 81</p>
                                </div>
                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-envelope"></i>
                                    <h4>Bize Yazın</h4>
                                    <p>info@aymakmakine.com</p>
                                </div>
                                <div class="col-md-6 info d-flex flex-column align-items-stretch">
                                    <i class="bx bx-time-five"></i>
                                    <h4>İletişim Saatleri</h4>
                                    <p>Pzt - Cum: 7:45 - 17:45</p>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6">
                            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <label for="name">Adınız</label>
                                        <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="email">E posta adresiniz</label>
                                        <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validate"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">Konu</label>
                                    <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Mesajınız</label>
                                    <textarea class="form-control" name="message" rows="8" data-rule="required" data-msg="Please write something for us"></textarea>
                                    <div class="validate"></div>
                                </div>
                                <div class="mb-3">
                                    <div class="loading">Yükleniyor</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Mesajınız iletildi, teşekkürler</div>
                                </div>
                                <div class="text-center"><button type="submit">Gönder</button></div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- modalExtrusion  -->
<div class="modal fade" id="modalExstrusion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">



    <div class="modal-dialog modal-notify modal-info modal-xl" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">

                <h3> IMACH Machines<br /> <a id="extrusionMain"></a></h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>

            </div>

            <!--Body-->

            <div class="modal-body" style="background:linear-gradient()">

                <!--ModalMainMedia-->
                <div class="row justify-content-center ">
                    <!--YouTube-->
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="embed-responsive embed-responsive-16by9">

                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/duQGpMMpoMU"
                                    allowfullscreen frameborder="1"></iframe>

                        </div>
                    </div>
                    <!--Anounces-->
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <ul>
                            <li><h6>Yüksek Verim</h6></li>
                            <li><h6>Kullanıcı Dostu Arayüz</h6></li>
                            <li><h6>Sıvı Sağutmalı Redüktör</h6></li>
                            <li><h6>Direct Drive Güç Aktarımı</h6></li>
                            <li><h6>Kovan Çıkışında Basınç Sensörü</h6></li>
                            <li><h6>Merkezden Vida Soğutma Hazırlığı</h6></li>

                        </ul>

                    </div>
                </div>
                <br />
                <!--TabPanel-->
                <div>
                    <div class="row">
                        <div class="d-xl-none d-lg-block col-1"><span id="tab-btn-right" class="tab-btn bx bx-left-arrow"></span></div>
                        <div id="tab-control-frame" class="col-xl-12 col-sm-10 col-9 tab-control-frame ml-sm-0 ml-3  tab-control-frame">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="extrusionLineTab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                                       aria-selected="true">Tab1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="extruderTab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                                       aria-selected="false">Tab2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="crossHeadTab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                                       aria-selected="false">Tab3</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="screwBarrelTab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"
                                       aria-selected="false">Tab4</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="coolingThroughTab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5"
                                       aria-selected="false">Tab5</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tipDieTab" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6"
                                       aria-selected="false">Tab6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="extrusionOtherTab" data-toggle="tab" href="#tab7" role="tab" aria-controls="tab7"
                                       aria-selected="false">Tab7</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-xl-none d-lg-block col-1"><span id="tab-btn-left" class="tab-btn bx bx-right-arrow"></span></div>
                    </div>
                    <br />
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                            <div class="row justify-content-center">
                                <!--Info-->

                                <div class="col-6">
                                    <h4>tab 1 info</h4>
                                </div>
                                <!--Slider-->
                                <div class="col-6">

                                    <div id="modalCarousel1" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators">
                                            <li data-target="#modalCarousel1" data-slide-to="0" class="active"></li>
                                            <li data-target="#modalCarousel1" data-slide-to="1"></li>
                                            <li data-target="#modalCarousel1" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">

                                                <img src="~/assets/img/portfolio/extrusion/extrusionLine/extrusionLine1.jpg"
                                                     alt="extrusionLine1"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                            <div class="carousel-item">

                                                <img src="~/assets/img/portfolio/extrusion/extrusionLine/extrusionLine2.jpg"
                                                     alt="extrusionLine2"
                                                     width="1100"
                                                     height="500">

                                            </div>


                                            <div class="carousel-item">
                                                <img src="~/assets/img/portfolio/extrusion/extrusionLine/extrusionLine3.jpg"
                                                     alt="extrusionLine3"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#modalCarousel1" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#modalCarousel1" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2">
                            <div class="row justify-content-center ">
                                <!--Info-->

                                <div class="col-6">
                                    <h4>tab 2 info</h4>
                                </div>

                                <!--Slider-->
                                <div class="col-6">

                                    <div id="modalCarousel2" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators">
                                            <li data-target="#modalCarousel2" data-slide-to="0" class="active"></li>
                                            <li data-target="#modalCarousel2" data-slide-to="1"></li>
                                            <li data-target="#modalCarousel2" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">

                                                <img src="~/assets/img/portfolio/extrusion/extruder/extruder1.jpg"
                                                     alt="extruder1"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                            <div class="carousel-item">

                                                <img src="~/assets/img/portfolio/extrusion/extruder/extruder2.jpg"
                                                     alt="extruder2"
                                                     width="1100"
                                                     height="500">

                                            </div>


                                            <div class="carousel-item">
                                                <img src="~/assets/img/portfolio/extrusion/extruder/extruder3.jpg"
                                                     alt="extruder3"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#modalCarousel2" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#modalCarousel2" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3">
                            <div class="row justify-content-center ">
                                <!--Info-->

                                <div class="col-6">
                                    <h4>tab 3 info</h4>
                                </div>
                                <!--Slider-->
                                <div class="col-6">

                                    <div id="modalCarousel3" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators">
                                            <li data-target="#modalCarousel3" data-slide-to="0" class="active"></li>
                                            <li data-target="#modalCarousel3" data-slide-to="1"></li>
                                            <li data-target="#modalCarousel3" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">

                                                <img src="~/assets/img/portfolio/extrusion/crossHead/crosshead1.jpg"
                                                     alt="crosshead1"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                            <div class="carousel-item">

                                                <img src="~/assets/img/portfolio/extrusion/crossHead/crosshead2.jpg"
                                                     alt="crosshead2"
                                                     width="1100"
                                                     height="500">

                                            </div>


                                            <div class="carousel-item">
                                                <img src="~/assets/img/portfolio/extrusion/crossHead/crosshead3.jpg"
                                                     alt="crosshead3"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#modalCarousel3" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#modalCarousel3" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4">
                            <div class="row justify-content-center ">
                                <!--Info-->

                                <div class="col-6">
                                    <h4>tab 4 info</h4>
                                </div>
                                <!--Slider-->
                                <div class="col-6">

                                    <div id="modalCarousel4" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators">
                                            <li data-target="#modalCarousel4" data-slide-to="0" class="active"></li>
                                            <li data-target="#modalCarousel4" data-slide-to="1"></li>
                                            <li data-target="#modalCarousel4" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">

                                                <img src="~/assets/img/portfolio/extrusion/barrelScrew/barrelscrew1.jpg"
                                                     alt="barrelscrew1"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                            <div class="carousel-item">

                                                <img src="~/assets/img/portfolio/extrusion/barrelScrew/barrelscrew2.jpg"
                                                     alt="barrelscrew2"
                                                     width="1100"
                                                     height="500">

                                            </div>


                                            <div class="carousel-item">
                                                <img src="~/assets/img/portfolio/extrusion/barrelScrew/barrelscrew3.jpg"
                                                     alt="barrelscrew3"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#modalCarousel4" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#modalCarousel4" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5">
                            <div class="row justify-content-center ">
                                <!--Info-->

                                <div class="col-6">
                                    <h4>tab 5 info</h4>
                                </div>

                                <!--Slider-->
                                <div class="col-6">

                                    <div id="modalCarousel5" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators">
                                            <li data-target="#modalCarousel5" data-slide-to="0" class="active"></li>
                                            <li data-target="#modalCarousel5" data-slide-to="1"></li>
                                            <li data-target="#modalCarousel5" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">

                                                <img src="~/assets/img/portfolio/extrusion/coolingThrough/coolingthrough1.jpg"
                                                     alt="coolingthrough1"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                            <div class="carousel-item">

                                                <img src="~/assets/img/portfolio/extrusion/coolingThrough/coolingthrough2.jpg"
                                                     alt="coolingthrough2"
                                                     width="1100"
                                                     height="500">

                                            </div>


                                            <div class="carousel-item">
                                                <img src="~/assets/img/portfolio/extrusion/coolingThrough/coolingthrough3.jpg"
                                                     alt="coolingthrough3"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#modalCarousel5" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#modalCarousel5" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6">
                            <div class="row justify-content-center ">
                                <!--Info-->

                                <div class="col-6">
                                    <h4>tab 6 info</h4>
                                </div>

                                <!--Slider-->
                                <div class="col-6">

                                    <div id="modalCarousel6" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators">
                                            <li data-target="#modalCarousel6" data-slide-to="0" class="active"></li>
                                            <li data-target="#modalCarousel6" data-slide-to="1"></li>
                                            <li data-target="#modalCarousel6" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">

                                                <img src="~/assets/img/portfolio/extrusion/tipAndDie/tipanddie1.jpg"
                                                     alt="tipanddie1"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                            <div class="carousel-item">

                                                <img src="~/assets/img/portfolio/extrusion/tipAndDie/tipanddie2.jpg"
                                                     alt="tipanddie2"
                                                     width="1100"
                                                     height="500">

                                            </div>


                                            <div class="carousel-item">
                                                <img src="~/assets/img/portfolio/extrusion/tipAndDie/tipanddie3.jpg"
                                                     alt="tipanddie3"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#modalCarousel6" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#modalCarousel6" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab7">
                            <div class="row justify-content-center ">
                                <!--Info-->

                                <div class="col-6">
                                    <h4>tab 7 info</h4>
                                </div>

                                <!--Slider-->
                                <div class="col-6">

                                    <div id="modalCarousel7" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators">
                                            <li data-target="#modalCarousel7" data-slide-to="0" class="active"></li>
                                            <li data-target="#modalCarousel7" data-slide-to="1"></li>
                                            <li data-target="#modalCarousel7" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">

                                                <img src="~/assets/img/portfolio/extrusion/extrusionOther/extrusionOther1.jpg"
                                                     alt="extrusionOther1"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                            <div class="carousel-item">

                                                <img src="~/assets/img/portfolio/extrusion/extrusionOther/extrusionOther2.jpg"
                                                     alt="extrusionOther2"
                                                     width="1100"
                                                     height="500">

                                            </div>


                                            <div class="carousel-item">
                                                <img src="~/assets/img/portfolio/extrusion/extrusionOther/extrusionOther3.jpg"
                                                     alt="extrusionOther3"
                                                     width="1100"
                                                     height="500">

                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#modalCarousel7" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#modalCarousel7" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!--End modalExtrusion-->




@section BeforeBodyClose{
    <script>
        LangReq("Index");

        $('#tab-btn-left').click(function () {
            event.preventDefault();
            $('#tab-control-frame').animate({
                scrollLeft: "+=200px"
            }, "slow");
        });

        $('#tab-btn-right').click(function () {
            event.preventDefault();
            $('#tab-control-frame').animate({
                scrollLeft: "-=200px"
            }, "slow");
        });
    </script>


    @*<script>
        //// Material Select Initialization
        //$(document).ready(function () {
        //    $('.mdb-select').materialSelect();
        //});


    </script>*@
}


